* {
	margin: 0 !important;
}

.background {
    display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
    top: 0;
	background: url('../../../assets/img/Pool2-NIZUC-Mexico-CRHotel-1-1.png')
		no-repeat center;
	background-size: cover;
	filter: blur(5.5px);
    z-index: -1;
}
